body {
    background-image: url(./imagenes/43035.jpg);
    background-size: cover;
    font-family: monospace;
}

.modal{
    background-image: url(./imagenes/42430.jpg);
    background-size: 50%;
}

.lista {
    color: #111;
}
.notas {
    font-size: 30px;
    font-weight: 900;
    box-shadow: 1px 1px 5px rgb(214, 123, 63);
}
.notas:hover {
    color: white;
    background:rgba(0, 0, 0, 0.4); ;
}
.modal-footer {
    justify-content: space-between;
    border: none;
}
.modal-body {
    border: none;
    background: rgb(4, 4, 4);
    background: linear-gradient(
        0deg,
        rgb(255, 203, 90) 5%,
        rgb(251, 203, 90) 7%,
        rgba(255, 255, 255, 1) 22%,
        rgba(255, 255, 255, 1) 78%,
        rgb(238, 190, 101) 93%
    );
}
.listado {
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.contenedor {
    border: 1px solid rgb(238, 180, 109);
    border-radius: 10px / 50px;
    box-shadow: 1px 1px 5px black;
    background: rgba(0, 0, 0, 0.4);
}
.card-body{
    border: none;
    background: rgba(255, 255, 255, 0.9);
    height: 720px;
}
.modal-content{
    box-shadow: 1px 1px 5px black;
}
#boton_titulo{
    box-shadow: 1px 1px 5px;
}
.box{
    box-shadow: 1px 1px 5px;
}
.contenedor_padre{
    height: 720px;
}
.contenido{
    border: 0.5px solid black;
    border-radius: 10px;
    text-align: start;
    border: none;
    height: 720px;
}
.contenido_card{
    line-height: 30px;
}

.titulo{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo:hover{
    color: chocolate;
    box-shadow: 1px 1px 6px black;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.categoria{
    color: black;
    font-size: 16px;
    font-weight: 900;
    border-bottom: 5px groove #fa6464;
    margin: 48px 48px 900px 48px;
    padding: 10px 10px 0px 10px;
    

}
.categoria:hover{
    color: rgb(54, 54, 54);
    background: rgb(255, 203, 155);
    border-radius: 10px;
}

