body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.lista{
    background: #666;
}
.notas{
    font-weight: 900;
}
.modal-footer{
    justify-content: space-between;
    border: none;
}
.modal-body{
    border: none;
}